body
{
	background: rgba(160, 37, 76, 0.871);
}

.size
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player_1_name , #player_2_name
{
	display: inline-block;
	margin-left: 20px;
}

#game{
	width:30%;
	font-size:30px;
}

#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #79354b;
padding: 10px;
float: none;
text-align: left;
}
